{% extends 'base.html' %}
{% load static %}

{% block title %}Iniciar sesión{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/cuentas.css' %}">{% endblock css %}

{% block body_class %}text-center{% endblock body_class %}

{% block topbar %}{% endblock topbar %}

{% block container %}
    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <img src="{% static 'images/signin.png' %}" alt="signin">
        {{ form.username.errors }} {{ form.username }}
        {{ form.username.password }} {{ form.password }}
        <div class="fieldWrapper">
            <p>
                <a href="{% url 'password_reset' %}">¿Olvidaste la contraseña?</a>
            </p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
        <input type="hidden" name="next" value="{{ next }}" />

        {% if form.errors %}
            <div class="alert alert-danger text-left">
                {{ form.non_field_errors }}
            </div>
        {% endif %} 
        
        {% if next %} 
            {% if user.is_authenticated %}
                <div class="alert alert-info text-left">
                    <p>Su cuenta {{ username }} no tiene acceso a esta página. Para continuar, inicie una sesión con una cuenta
                    autorizada.</p>
                </div>                    
            {% else %}
                <div class="alert alert-info text-left">
                    <p>Para poder continuar, por favor inicie una sesión.</p>
                </div>
            {% endif %} 
        {% endif %}
    </form>
{% endblock container %}