<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Ingrese una nueva contraseña{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'css/cuentas.css' %}">{% endblock css %}

{% block body_class %}text-center{% endblock body_class %}

{% block topbar %}{% endblock topbar %}

{% block container %}
    {% if validlink %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        <div class="py-5 text-center">
            <h2>Restablecimiento de contraeña</h2>
            <p class="lead">Por favor ingrese (y confirme) su nueva contraseña.</p>
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Cambiar contraseña</button>
                </td>
            </tr>
        </table>
    </form>
    {% else %}
        <div class="container-fluid">
            <div class="row">
              <main role="main" class="{% block main_class %}col-md-9 ml-sm-auto col-lg-10 px-4{% endblock main_class %}">
          
                  <div class="py-5 text-center">
                      <h2>Restablecimiento de contraeña fallido</h2>
                      <p class="lead">El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se utilizó. Solicite un nuevo restablecimiento de contraseña.</p>
                      <p><a href="{% url 'password_reset' %}">¿Volver a restablecer la contraseña?</a></p>
                  </div>
                        
              </main>
          
              <br class="clear" />
            </div>
            <div class="row">
              <!-- Footer -->    
              {% block footer %}
              {% endblock %}
              <!-- END Footer -->
            </div>
          </div>    
    {% endif %}
{% endblock container %}