{% extends 'usuarios/usuario_detail.html' %}

{% block title %}Eliminar Usuario{% endblock title %} 
{% block subtitle %}<h2>Eliminar usuario</h2>{% endblock subtitle %} 
{% block url_back %}{% url 'usuario_list' %}{% endblock url_back %} 

{% block detail_command %}
    <form class="needs-validation" method="post">
        {% csrf_token %}
        <div class="row">
            {{ form.non_field_errors }}
        </div>

        <div class="text-center">
            Confirmar eliminación de "{{ object }}" ?<br><br>
            <button class="btn btn-primary" type="submit">Eliminar</button>
        </div>                
    </form>
{% endblock detail_command %}