html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: light;
}

form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

form input {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  /* margin-bottom: -1px; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form input:focus {
  z-index: 2;
}

form img {
  width: 100%;
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ultimo {
  margin-bottom: 10px;
}

form button {
  margin-bottom: 10px;
}