{% extends 'base.html' %}
{% load static %} 
{% load querystring from django_tables2 %} 
{% load title from django_tables2 %} 
{% load trans blocktrans from i18n %}

{% block title %}Tipo de Indicadores{% endblock title %} 

{% block content %}
    {% block table %}
    <div class="table-responsive">
        <table id="table" class="table table-hover" {% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
            {% block table.thead %}
            <thead>
                <tr>
                    <th colspan="4">
                        <div class="row">
                            <div class="col-8">
                                <h2>Tipo de Indicadores</h2>
                            </div>
                        </div>
                    </th>
                </tr>

                <tr>
                    {% for column in table.columns %} 
                        <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endblock table.thead %}

            {% block table.tbody %}
            <tbody>
                {% for row in table.page.object_list|default:table.rows %} 
                    {# support pagination #} 
                    {% block table.tbody.row %}
                    
                    <tr>
                        {% for column, cell in row.items %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endblock table.tbody.row %} 
                    {% empty %} 
                    
                    {% if table.empty_text %} 
                        {% block table.tbody.empty_text %}
                        <tr>
                            <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                        </tr>
                        {% endblock table.tbody.empty_text %} 
                    {% endif %} 
                {% endfor %}
            </tbody>
            {% endblock table.tbody %} 
            
            {% block table.tfoot %}
            <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
    </div>    
    {% endblock table %} 
    
    {% if table.page %} 
        {% block pagination %} 
        {# bootstrap_pagination table.page url=request.get_full_path #} 
        {% endblock pagination %}
    {% endif %}
{% endblock content %}

{% block javascript %}
{% include 'base/js_table.html' %}
{% endblock javascript %}